# --- Настройки образа ---
image:
  # Использование официального репозитория ClickHouse
  repository: clickhouse/clickhouse-server
  # Тег образа (версия ClickHouse). 
  # Требование 2: Возможность указать желаемую версию.
  tag: "23.8"
  # Политика скачивания: IfNotPresent экономит трафик и время при перезапусках
  pullPolicy: IfNotPresent

# --- Настройки пользователей БД ---
# Требование 3: Список пользователей с паролями для доступа к БД.
# Передача массива объектов, по которому пройдет цикл в ConfigMap.
dbUsers:
  # Пример администратора
  - username: "admin_user"
    password: "superSecretPassword123"
    networks:
      ip: "::/0" # Разрешаем доступ с любых IP адресов (IPv6/IPv4)
  
  # Пример пользователя только для чтения (логику прав нужно настраивать в profiles)
  - username: "analytics_viewer"
    password: "viewerPassword"
    networks:
      ip: "::/0"

# --- Настройки сервиса ---
service:
  type: ClusterIP # Внутренний доступ внутри кластера
  httpPort: 8123  # Порт для HTTP запросов
  tcpPort: 9000   # Порт для нативного клиента (clickhouse-client)

# --- Настройки хранилища ---
persistence:
  # Для задания отключу PVC, чтобы не требовать StorageClass.
  # Данные будут храниться во временной папке пода (пропадут при рестарте).
  enabled: false 
  size: 10Gi
